<header class="d-flex m-5">
  <h1 class="mx-auto">Simulador para venda de veículo</h1>
</header>
<main class="contain">
  <form class="d-flex justify-content-between container">
 
      <select id="vehicleType" class="btn btn-secondary dropdown show col-3" data-toggle="dropdown" onchange="searchType()">
          <option>Selecione Um tipo</option>
          <option class="type" value="cars">Carros</option>
          <option class="type" value="trucks">Caminhões</option>
          <option class="type" value="motorcycles">Motos</option>
      </select>

      <select id="brand" class="btn btn-secondary dropdown show col-3" data-toggle="dropdown" onchange="searchModel()" >
          <option>Selecione Uma marca</option>
      </select>
      
      <select id="models" class="btn btn-secondary dropdown show col-3" data-toggle="dropdown" onchange="searchYear()">
          <option>Selecione Um modelo</option>
      </select>

      
      <select id="years" class="btn btn-secondary dropdown show col-2" data-toggle="dropdown" onchange="searchResults()">
          <option>Selecione Um ano</option>
      </select>
     
  </form>

  <form class="d-flex container mt-80 justify-content-between display-positions">
    
    <div class="d-flex col justify-content-center">
      <div class="">
        <p class="position-absolute rs-position">
          R$
         </p>
        <input class="width-400px form-control" type="text" value="" name="sale-value" placeholder="Digite o Valor da venda ex: 1.000,00..." id="vehicle-value" >
      </div>
    </div>
    <div class="col al d-flex justify-content-center">
      <button onclick="getFipe()" class="btn btn-success btn-md width-220px ">Consultar</button>
    </div>
  </form>
  
  <div class="container mt-5" id="renderApiResult">
    
  </div>
